[
    {
        "appId": 9871778945,
        "academicCounseling": null,
        "acceptedTerms": true,
        "acceptedTermsTimestamp": "2017-08-15T17:46:29.142",
        "ackFinAid": null,
        "addressSame": false,
        "addressValidation": null,
        "admIneligible": 0,
        "alienRegExpireDate": null,
        "alienRegIssueDate": null,
        "alienRegNoExpire": false,
        "alienRegNumber": null,
        "appLang": "en",
        "athleticIntercollegiate": null,
        "athleticIntramural": null,
        "athleticNotInterested": true,
        "basicSkills": null,
        "birthdate": "1997-06-08",
        "caCollegeEmployee": false,
        "caDateCurrent": null,
        "caFosterYouth": false,
        "caNotArrived": null,
        "caOutsideCollege": false,
        "caOutsideCollegeYear": null,
        "caOutsideLawsuit": false,
        "caOutsideLawsuitYear": null,
        "caOutsideTax": false,
        "caOutsideTaxYear": null,
        "caOutsideVoted": false,
        "caOutsideVotedYear": null,
        "caRes2Years": true,
        "caSchoolEmployee": false,
        "caSeasonalAg": false,
        "cahs3year": false,
        "cahsGraduated": null,
        "calworks": null,
        "campaign1": null,
        "campaign2": null,
        "campaign3": null,
        "careerPlanning": null,
        "cccId": "AAA0162",
        "childCare": null,
        "cipCode": null,
        "citizenshipStatus": "1",
        "city": "Chandler",
        "coenrollConfirm": false,
        "col1Cds": null,
        "col1CdsFull": null,
        "col1Ceeb": null,
        "col1City": null,
        "col1Country": null,
        "col1DegreeDate": null,
        "col1DegreeObtained": null,
        "col1EndDate": null,
        "col1ExpelledStatus": null,
        "col1Name": null,
        "col1NotListed": null,
        "col1StartDate": null,
        "col1State": null,
        "col2Cds": null,
        "col2CdsFull": null,
        "col2Ceeb": null,
        "col2City": null,
        "col2Country": null,
        "col2DegreeDate": null,
        "col2DegreeObtained": null,
        "col2EndDate": null,
        "col2ExpelledStatus": null,
        "col2Name": null,
        "col2NotListed": null,
        "col2StartDate": null,
        "col2State": null,
        "col3Cds": null,
        "col3CdsFull": null,
        "col3Ceeb": null,
        "col3City": null,
        "col3Country": null,
        "col3DegreeDate": null,
        "col3DegreeObtained": null,
        "col3EndDate": null,
        "col3ExpelledStatus": null,
        "col3Name": null,
        "col3NotListed": null,
        "col3StartDate": null,
        "col3State": null,
        "col4Cds": null,
        "col4CdsFull": null,
        "col4Ceeb": null,
        "col4City": null,
        "col4Country": null,
        "col4DegreeDate": null,
        "col4DegreeObtained": null,
        "col4EndDate": null,
        "col4ExpelledStatus": null,
        "col4Name": null,
        "col4NotListed": null,
        "col4StartDate": null,
        "col4State": null,
        "collegeCount": 0,
        "collegeExpelledSummary": false,
        "collegeId": "${misCode}",
        "collegeName": "Mock",
        "comfortableEnglish": true,
        "comments": null,
        "completedEleventhGrade": null,
        "confirmation": "9871778945",
        "consentIndicator": true,
        "counselingPersonal": null,
        "country": "US",
        "dependentStatus": "3",
        "dischargeType": null,
        "districtName": null,
        "dsps": null,
        "eduGoal": "A",
        "eligAb540": false,
        "email": "student@college.edu",
        "employmentAssistance": null,
        "enrollStatus": "1",
        "eops": null,
        "esl": null,
        "experience": null,
        "finAidRef": false,
        "financialAssistance": false,
        "firstname": "Josh",
        "fosterYouthMis": false,
        "fosterYouthPreference": null,
        "fosterYouthPriority": false,
        "fosterYouthStatus": "0",
        "fosterYouths": null,
        "gender": "M",
        "gradePointAverage": null,
        "healthServices": null,
        "higherCompDate": null,
        "higherEduLevel": "X",
        "highestEduLevel": "00000",
        "highestEnglishCourse": null,
        "highestEnglishGrade": null,
        "highestMathCoursePassed": null,
        "highestMathCourseTaken": null,
        "highestMathPassedGrade": null,
        "highestMathTakenGrade": null,
        "hispanic": false,
        "homeSchooled": null,
        "homelessYouth": true,
        "housingInfo": null,
        "hsAttendance": 3,
        "hsCds": "193098",
        "hsCdsFull": "19643111930981",
        "hsCeeb": "050320 ",
        "hsCity": "Beverly Hills",
        "hsCompDate": null,
        "hsCountry": "US",
        "hsEduLevel": "0",
        "hsName": null,
        "hsNotAttended": null,
        "hsNotListed": null,
        "hsState": "CA",
        "idmeConfirmationTimestamp": "2017-08-15T17:46:29.142",
        "idmeOptinTimestamp": "2017-08-15T18:46:29.142",
        "idmeWorkflowStatus": "Verified",
        "ipAddressAtAccountCreation": "127.0.0.1",
        "ipAddressAtAppCreation": "127.0.0.1",
        "integrityFg01": true,
        "integrityFg02": true,
        "integrityFg03": null,
        "integrityFg04": null,
        "integrityFg11": null,
        "integrityFg30": null,
        "integrityFg40": true,
        "integrityFg47": null,
        "integrityFg48": null,
        "integrityFg49": null,
        "integrityFg50": null,
        "integrityFg51": null,
        "integrityFg52": null,
        "integrityFg53": null,
        "integrityFg54": null,
        "integrityFg55": null,
        "integrityFg56": null,
        "integrityFg57": null,
        "integrityFg58": null,
        "integrityFg59": null,
        "integrityFg60": null,
        "integrityFg61": null,
        "integrityFg62": null,
        "integrityFg63": null,
        "integrityFg64": null,
        "integrityFg65": null,
        "integrityFg70": null,
        "integrityFg71": null,
        "integrityFg80": null,
        "integrityFlags": "01,02,40",
        "intendedMajor": "ZZ204",
        "ipAddress": "1.2.3.4",
        "lastPage": null,
        "lastname": "Smith",
        "mailingAddressValidationOverride": false,
        "mainphone": "530-123-4455",
        "mainphoneAuthText": false,
        "mainphoneExt": "111",
        "mainphoneintl": null,
        "majorCategory": "",
        "majorCode": "ZZ204",
        "majorDescription": "BA Ancient Art History",
        "majorId": 1745,
        "middlename": "W",
        "militaryCaStationed": null,
        "militaryDischargeDate": null,
        "militaryHomeCountry": null,
        "militaryHomeState": null,
        "militaryLegalResidence": null,
        "militaryStationedCaEd": null,
        "militaryStatus": "1",
        "noDocuments": false,
        "noMailingAddressHomeless": false,
        "noPermAddressHomeless": true,
        "nonUsAddress": false,
        "nonusaprovince": "asdf",
        "onlineClasses": null,
        "orientation": "0",
        "otherfirstname": null,
        "otherlastname": null,
        "othermiddlename": null,
        "permAddressValidation": null,
        "permCity": null,
        "permCountry": null,
        "permNonusaprovince": null,
        "permPostalcode": null,
        "permState": null,
        "permStreetaddress1": null,
        "permStreetaddress2": null,
        "permZip4": null,
        "pgEduMis": "11",
        "pgFirstname": "",
        "pgLastname": "",
        "pgRel": " ",
        "pg1Edu": "1",
        "pg2Edu": "1",
        "phoneType": "Landline",
        "postalcode": "85142",
        "preferredFirstname": "Josh",
        "preferredLastname": "Smith",
        "preferredMiddlename": "W",
        "preferredName": true,
        "preferredMethodOfContact": "Email",
        "raceAIANOtherDescription": "Test value for raceAIANOtherDescription",
        "raceEthnic": "NNNNNNNNNNNNNNNNNNNNN",
        "raceGroup": null,
        "rdd": "2017-01-25",
        "recommend": null,
        "reentryProgram": null,
        "resAreaA": 1,
        "resAreaB": 2,
        "resAreaC": 0,
        "resAreaD": 0,
        "resPrevDate": null,
        "resStatus": "2",
        "resStatusChange": null,
        "scholarshipInfo": null,
        "secondphone": "530-222-4444",
        "secondphoneAuthText": true,
        "secondphoneExt": "111",
        "secondphoneintl": null,
        "fraudScore": 17.003,
        "fraudStatus": 1,
        "ssid": null,
        "ssn": "123-45-6789",
        "ssnDisplay": "6789",
        "ssnException": false,
        "ssnNo": false,
        "ssnType": "0",
        "state": "AZ",
        "status": "D",
        "streetaddress1": "615 E. Monterey st",
        "streetaddress2": "",
        "studentGovernment": null,
        "studentParent": true,
        "studentDepsUnder18": 1,
        "studentDeps18Over": 3,
        "supplementalQuestions": {
            "appId": 9871778945,
            "suppCheck01": null,
            "suppCheck02": null,
            "suppCheck03": null,
            "suppCheck04": null,
            "suppCheck05": null,
            "suppCheck06": null,
            "suppCheck07": null,
            "suppCheck08": null,
            "suppCheck09": null,
            "suppCheck10": null,
            "suppCheck11": null,
            "suppCheck12": null,
            "suppCheck13": null,
            "suppCheck14": null,
            "suppCheck15": null,
            "suppCheck16": null,
            "suppCheck17": null,
            "suppCheck18": null,
            "suppCheck19": null,
            "suppCheck20": null,
            "suppCheck21": null,
            "suppCheck22": null,
            "suppCheck23": null,
            "suppCheck24": null,
            "suppCheck25": null,
            "suppCheck26": null,
            "suppCheck27": null,
            "suppCheck28": null,
            "suppCheck29": null,
            "suppCheck30": null,
            "suppCheck31": null,
            "suppCheck32": null,
            "suppCheck33": null,
            "suppCheck34": null,
            "suppCheck35": null,
            "suppCheck36": null,
            "suppCheck37": null,
            "suppCheck38": null,
            "suppCheck39": null,
            "suppCheck40": null,
            "suppCheck41": null,
            "suppCheck42": null,
            "suppCheck43": null,
            "suppCheck44": null,
            "suppCheck45": null,
            "suppCheck46": null,
            "suppCheck47": null,
            "suppCheck48": null,
            "suppCheck49": null,
            "suppCheck50": null,
            "suppCountry01": null,
            "suppCountry02": null,
            "suppCountry03": null,
            "suppCountry04": null,
            "suppCountry05": null,
            "suppDate01": null,
            "suppDate02": null,
            "suppDate03": null,
            "suppDate04": null,
            "suppDate05": null,
            "suppMenu01": null,
            "suppMenu02": null,
            "suppMenu03": null,
            "suppMenu04": null,
            "suppMenu05": null,
            "suppMenu06": null,
            "suppMenu07": null,
            "suppMenu08": null,
            "suppMenu09": null,
            "suppMenu10": null,
            "suppMenu11": null,
            "suppMenu12": null,
            "suppMenu13": null,
            "suppMenu14": null,
            "suppMenu15": null,
            "suppMenu16": null,
            "suppMenu17": null,
            "suppMenu18": null,
            "suppMenu19": null,
            "suppMenu20": null,
            "suppMenu21": null,
            "suppMenu22": null,
            "suppMenu23": null,
            "suppMenu24": null,
            "suppMenu25": null,
            "suppMenu26": null,
            "suppMenu27": null,
            "suppMenu28": null,
            "suppMenu29": null,
            "suppMenu30": null,
            "suppPhonenumber01": "(111) 111-1111",
            "suppPhonenumber02": "(111) 111-1111",
            "suppPhonenumber03": "(111) 111-1111",
            "suppPhonenumber04": "(111) 111-1111",
            "suppPhonenumber05": null,
            "suppSecret01": null,
            "suppSecret02": null,
            "suppSecret03": null,
            "suppSecret04": null,
            "suppSecret05": null,
            "suppState01": null,
            "suppState02": null,
            "suppState03": null,
            "suppState04": null,
            "suppState05": null,
            "suppText01": null,
            "suppText02": null,
            "suppText03": null,
            "suppText04": null,
            "suppText05": null,
            "suppText06": null,
            "suppText07": null,
            "suppText08": null,
            "suppText09": null,
            "suppText10": null,
            "suppText11": null,
            "suppText12": null,
            "suppText13": null,
            "suppText14": null,
            "suppText15": null,
            "suppText16": null,
            "suppText17": null,
            "suppText18": null,
            "suppText19": null,
            "suppText20": null,
            "suppYesno01": null,
            "suppYesno02": null,
            "suppYesno03": null,
            "suppYesno04": null,
            "suppYesno05": null,
            "suppYesno06": null,
            "suppYesno07": null,
            "suppYesno08": null,
            "suppYesno09": null,
            "suppYesno10": null,
            "suppYesno11": null,
            "suppYesno12": null,
            "suppYesno13": null,
            "suppYesno14": null,
            "suppYesno15": null,
            "suppYesno16": null,
            "suppYesno17": null,
            "suppYesno18": null,
            "suppYesno19": null,
            "suppYesno20": null,
            "suppYesno21": null,
            "suppYesno22": null,
            "suppYesno23": null,
            "suppYesno24": null,
            "suppYesno25": null,
            "suppYesno26": null,
            "suppYesno27": null,
            "suppYesno28": null,
            "suppYesno29": null,
            "suppYesno30": null
        },
        "suffix": null,
        "supPageCode": null,
        "tanfSsiGa": false,
        "termCode": "ZZ4SP2017-UTSTa",
        "termDescription": "Spring 2017 - CCCTC College B",
        "termEnd": "2017-05-30",
        "termId": 2567,
        "termStart": "2017-01-26",
        "testingAssessment": null,
        "transferInfo": null,
        "transgender": "0",
        "tstmpCreate": "2017-08-15T17:44:48.293",
        "tstmpDownload": "2017-09-11T23:20:49.583494",
        "tstmpSubmit": "2017-08-15T17:46:29.142",
        "tstmpUpdate": null,
        "tutoringServices": null,
        "under19Ind": false,
        "veteransServices": null,
        "visaType": null,
        "zip4": null
    }
]