[  
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
   ## Current year - Fall term
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   {
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw1",
      "cccid":"HASBOG1",
      "sisTermId":"${year_current}FA",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw2",
      "cccid":"HASBOG2",
      "sisTermId":"${year_current}FA",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw3",
      "cccid":"HASBOG3",
      "sisTermId":"${year_current}FA",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw4",
      "cccid":"HASBOG4",
      "sisTermId":"${year_current}FA",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw5",
      "cccid":"HASBOG5",
      "sisTermId":"${year_current}FA",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw6",
      "cccid":"HASBOG6",
      "sisTermId":"${year_current}FA",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw7",
      "cccid":"HASBOG7",
      "sisTermId":"${year_current}FA",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   }
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ## Current year - Spring term
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ,{
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw1",
      "cccid":"HASBOG1",
      "sisTermId":"${year_current}SP",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw2",
      "cccid":"HASBOG2",
      "sisTermId":"${year_current}SP",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw3",
      "cccid":"HASBOG3",
      "sisTermId":"${year_current}SP",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw4",
      "cccid":"HASBOG4",
      "sisTermId":"${year_current}SP",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw5",
      "cccid":"HASBOG5",
      "sisTermId":"${year_current}SP",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw6",
      "cccid":"HASBOG6",
      "sisTermId":"${year_current}SP",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw7",
      "cccid":"HASBOG7",
      "sisTermId":"${year_current}SP",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   }
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ## Current year - Summer term
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ,{
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw1",
      "cccid":"HASBOG1",
      "sisTermId":"${year_current}SU",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw2",
      "cccid":"HASBOG2",
      "sisTermId":"${year_current}SU",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw3",
      "cccid":"HASBOG3",
      "sisTermId":"${year_current}SU",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw4",
      "cccid":"HASBOG4",
      "sisTermId":"${year_current}SU",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw5",
      "cccid":"HASBOG5",
      "sisTermId":"${year_current}SU",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw6",
      "cccid":"HASBOG6",
      "sisTermId":"${year_current}SU",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw7",
      "cccid":"HASBOG7",
      "sisTermId":"${year_current}SU",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   }
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ## Current year - Winter term
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ,{
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw1",
      "cccid":"HASBOG1",
      "sisTermId":"${year_current}IW",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw2",
      "cccid":"HASBOG2",
      "sisTermId":"${year_current}IW",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw3",
      "cccid":"HASBOG3",
      "sisTermId":"${year_current}IW",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw4",
      "cccid":"HASBOG4",
      "sisTermId":"${year_current}IW",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw5",
      "cccid":"HASBOG5",
      "sisTermId":"${year_current}IW",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw6",
      "cccid":"HASBOG6",
      "sisTermId":"${year_current}IW",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw7",
      "cccid":"HASBOG7",
      "sisTermId":"${year_current}IW",
      "maritalStatus":"MARRIED",
      "regDomPartner":true,
      "bornBefore23Year":true,
      "marriedOrRDP":true,
      "usVeteran":true,
      "dependents":true,
      "parentsDeceased":true,
      "emancipatedMinor":true,
      "legalGuardianship":true,
      "homelessYouthSchool":true,
      "homelessYouthHUD":true,
      "homelessYouthOther":true,
      "dependentOnParentTaxes":"YES",
      "livingWithParents":true,
      "dependencyStatus":"DEPENDENT",
      "certVeteranAffairs":true,
      "certNationalGuard":true,
      "eligMedalHonor":true,
      "eligSept11":true,
      "eligPoliceFire":true,
      "tanfCalworks":true,
      "ssiSSP":true,
      "generalAssistance":true,
      "parentsAssistance":true,
      "depNumberHousehold":1,
      "indNumberHousehold":null,
      "depGrossIncome":1,
      "indGrossIncome":null,
      "depOtherIncome":1,
      "indOtherIncome":null,
      "depTotalIncome":1,
      "indTotalIncome":null,
      "eligibility":"METHOD_A",
      "determinedResidentCA":true,
      "determinedAB540Eligible":false,
      "determinedNonResExempt":false,
      "determinedHomeless":false
   }
]