[
{
"appId": 2234234,
"ackFinAid": true,
"appLang": "en",
"birthdate": "1999-12-06",
"bornBefore23Year": false,
"campaign1": "campaign1",
"campaign2": "campaign2",
"campaign3": "campaign3",
"cccId": "AAA0011",
"certNationalGuard": "n",
"certVeteranAffairs": "y",
"city": "Gilbert",
"collegeId": "${misCode}",
"collegeName": "Mock College ${misCode}",
"confirmationApplicant": true,
"confirmationNumber": "BOG-10360",
"confirmationParentGuardian": true,
"country": "US",
"depGrossIncome": 52343,
"depNumberHousehold": 3,
"depOtherIncome": 423,
"depTotalIncome": 52766,
"dependencyStatus": "D",
"dependentOnParentTaxes": "2",
"dependents": "n",
"determinedAB540Eligible": "n",
"determinedHomeless": "n",
"determinedNonResExempt": "n",
"determinedResidentca": "y",
"eligBogfw": "N",
"eligMedalHonor": "n",
"eligMethodA": false,
"eligMethodB": false,
"eligMethodD": false,
"eligPoliceFire": "n",
"eligSept11": "y",
"eligExoneratedCrime": "N",
"eligCovidDeath" : "N",
"email": "email@college.net",
"emancipatedMinor": "n",
"firstname": "Firsty",
"generalAssistance": "n",
"homelessYouthHud": "n",
"homelessYouthOther": "n",
"homelessYouthSchool": "n",
"idmeConfirmationTimestamp": "2023-09-20T17:46:29.142",
"idmeOptinTimestamp": "2023-09-20T18:46:29.142",
"idmeWorkflowStatus": "verified",
"indGrossIncome": 52343,
"indNumberHousehold": 3,
"indOtherIncome": 423,
"indTotalIncome": 52766,
"ipAddress": "174.26.149.46",
"lastPage": "review",
"lastname": "Lasty",
"legalGuardianship": "n",
"livingWithParents": "y",
"mainphone": "530-123-4455",
"mainphoneAuthText": false,
"mainphoneExt": "111",
"mainphoneintl": "mainphoneintl",
"maritalStatus": "S",
"marriedOrRdp": "n",
"middlename": "Middle",
"noMailingAddressHomeless": "n",
"noPermAddressHomeless": "y",
"nonUsAddress": false,
"parentGuardianName": "afs",
"parentsAssistance": "n",
"parentsDeceased": "n",
"postalcode": "85297",
"preferredFirstname": "pfirst",
"preferredLastname": "plast",
"preferredMiddlename": "pmid",
"preferredName": false,
"preferredMethodOfContact": "Email",
"province": "asdf",
"regDomPartner": "n",
"ssiSsp": "n",
"ssn": "111-22-3333",
"ssnException": false,
"ssnLast4": "3333",
"ssnNo": false,
"ssnType": "1",
"state": "AZ",
"status": "I",
"streetaddress1": "123 E Test Dr",
"streetaddress2": "Line 2",
"studentCollegeId": "1234567",
"studentParent": false,
"studentDepsUnder18": 6,
"studentDeps18Over": 1,
"tanfCalworks": false,
"termCode": "2015",
"tstmpCreate": "2015-04-22T16:52:04.285",
"tstmpDownload": "2015-05-22T16:54:02.415",
"tstmpSubmit": "2015-04-22T16:54:10.607",
"tstmpUpdate": "2015-04-22T16:54:02.415",
"usVeteran": "n",
"yearCode": "6",
"yearDescription": "Fall 2014 through Summer 2015"
}
]