[  
   {
      "misCode": "${misCode}",
      "sisFraudReportId": 1,
      "appId": 9871778944,
      "cccId": "NOENRL1",
      "fraudType": "APPLICATION",
      "reportedByMisCode": "ZZ2",
      "reportedBySource": "testing"
   },
   {
      "misCode": "${misCode}",
      "sisFraudReportId": 3,
      "appId": 871768949,
      "cccId": "NOENRL1",
      "fraudType": "APPLICATION",
      "reportedByMisCode": "ZZ2",
      "reportedBySource": "testing"
   }
]