[  
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0051",
      "cccid":"STU0051",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0052",
      "cccid":"STU0052",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0053",
      "cccid":"STU0053",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0054",
      "cccid":"STU0054",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0055",
      "cccid":"STU0055",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0056",
      "cccid":"STU0056",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0057",
      "cccid":"STU0057",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0031",
      "cccid":"STU0031",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0032",
      "cccid":"STU0032",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0033",
      "cccid":"STU0033",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0034",
      "cccid":"STU0034",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0035",
      "cccid":"STU0035",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0036",
      "cccid":"STU0036",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0037",
      "cccid":"STU0037",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0051",
      "cccid":"STU0051",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0052",
      "cccid":"STU0052",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0053",
      "cccid":"STU0053",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0054",
      "cccid":"STU0054",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0055",
      "cccid":"STU0055",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0056",
      "cccid":"STU0056",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0057",
      "cccid":"STU0057",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0031",
      "cccid":"STU0031",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0032",
      "cccid":"STU0032",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0033",
      "cccid":"STU0033",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0034",
      "cccid":"STU0034",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0035",
      "cccid":"STU0035",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0036",
      "cccid":"STU0036",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0037",
      "cccid":"STU0037",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0051",
      "cccid":"STU0051",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0052",
      "cccid":"STU0052",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0053",
      "cccid":"STU0053",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0054",
      "cccid":"STU0054",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0055",
      "cccid":"STU0055",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0056",
      "cccid":"STU0056",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0057",
      "cccid":"STU0057",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0031",
      "cccid":"STU0031",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0032",
      "cccid":"STU0032",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0033",
      "cccid":"STU0033",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0034",
      "cccid":"STU0034",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0035",
      "cccid":"STU0035",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0036",
      "cccid":"STU0036",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0037",
      "cccid":"STU0037",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0051",
      "cccid":"STU0051",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0052",
      "cccid":"STU0052",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0053",
      "cccid":"STU0053",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0054",
      "cccid":"STU0054",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0055",
      "cccid":"STU0055",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0056",
      "cccid":"STU0056",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0057",
      "cccid":"STU0057",
      "sisCourseId":"2ENGL-140",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0031",
      "cccid":"STU0031",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0032",
      "cccid":"STU0032",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0033",
      "cccid":"STU0033",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0034",
      "cccid":"STU0034",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0035",
      "cccid":"STU0035",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0036",
      "cccid":"STU0036",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0037",
      "cccid":"STU0037",
      "sisCourseId":"2ANTH-115",
      "complete":true,
      "completed":$year_current_term_winter_end.getTimeInMillis(),
      "started":$year_current_term_winter_start.getTimeInMillis()
   }
]