[
    {
        "appId": 9871778944,
        "academicCounseling": true,
        "acceptedTerms": true,
        "acceptedTermsTimestamp": "2017-08-15T17:46:29.142",
        "ackFinAid": false,
        "addressSame": false,
        "addressValidation": "X",
        "addressValidationOverride": true,
        "addressValidationOverrideTimestamp": "2017-08-15T17:46:29.142",
        "admIneligible": 0,
        "alienRegExpireDate": "2018-01-02",
        "alienRegIssueDate": "2018-01-01",
        "alienRegNoExpire": false,
        "alienRegNumber": "123456789",
        "appLang": "en",
        "athleticIntercollegiate": true,
        "athleticIntramural": false,
        "athleticNotInterested": false,
        "basicSkills": true,
        "birthdate": "1997-06-08",
        "caCollegeEmployee": false,
        "caDateCurrent": "2018-01-01",
        "caFosterYouth": false,
        "caNotArrived": false,
        "caOutsideCollege": false,
        "caOutsideCollegeYear": "2010-01-01",
        "caOutsideLawsuit": false,
        "caOutsideLawsuitYear": "2010-01-01",
        "caOutsideTax": false,
        "caOutsideTaxYear": "2010-01-01",
        "caOutsideVoted": false,
        "caOutsideVotedYear": "2010-01-01",
        "caRes2Years": true,
        "caSchoolEmployee": false,
        "caSeasonalAg": false,
        "cahs3year": false,
        "cahsGraduated": true,
        "calworks": false,
        "campaign1": "campaign-1",
        "campaign2": "campaign-2",
        "campaign3": "campaign-3",
        "careerPlanning": true,
        "cccId": "AAA0162",
        "childCare": true,
        "cipCode": "123456",
        "citizenshipStatus": "1",
        "city": "Chandler",
        "coenrollConfirm": false,
        "col1Cds": "000001",
        "col1CdsFull": "00000112345678",
        "col1Ceeb": "1234567",
        "col1City": "City1",
        "col1Country": "US",
        "col1DegreeDate": "2018-02-01",
        "col1DegreeObtained": "A",
        "col1EndDate": "2018-02-02",
        "col1ExpelledStatus": false,
        "col1Name": "College 1",
        "col1NotListed": false,
        "col1StartDate": "2018-02-01",
        "col1State": "CA",
        "col2Cds": "000002",
        "col2CdsFull": "00000212345678",
        "col2Ceeb": "1234567",
        "col2City": "City2",
        "col2Country": "US",
        "col2DegreeDate": "2018-02-01",
        "col2DegreeObtained": "X",
        "col2EndDate": "2018-02-01",
        "col2ExpelledStatus": false,
        "col2Name": "College 2",
        "col2NotListed": false,
        "col2StartDate": "2018-02-01",
        "col2State": "CA",
        "col3Cds": "000003",
        "col3CdsFull": "00000312345678",
        "col3Ceeb": "1234567",
        "col3City": "City3",
        "col3Country": "US",
        "col3DegreeDate": "2018-02-01",
        "col3DegreeObtained": "B",
        "col3EndDate": "2018-02-01",
        "col3ExpelledStatus": true,
        "col3Name": "College 3",
        "col3NotListed": true,
        "col3StartDate": "2018-02-01",
        "col3State": "CA",
        "col4Cds": "000004",
        "col4CdsFull": "00000412345678",
        "col4Ceeb": "1234567",
        "col4City": "City4",
        "col4Country": "US",
        "col4DegreeDate": "2018-02-01",
        "col4DegreeObtained": "X",
        "col4EndDate": "2018-02-01",
        "col4ExpelledStatus": false,
        "col4Name": "College 4",
        "col4NotListed": false,
        "col4StartDate": "2018-02-01",
        "col4State": "CA",
        "collegeCount": 4,
        "collegeExpelledSummary": false,
        "collegeId": "${misCode}",
        "collegeName": "Mock College ${misCode}",
        "comfortableEnglish": true,
        "comments": "Survey comments",
        "completedEleventhGrade": true,
        "confirmation": "9871778944",
        "consentIndicator": true,
        "counselingPersonal": true,
        "country": "US",
        "dependentStatus": "3",
        "dischargeType": "1",
        "districtName": "District Name",
        "dsps": true,
        "eduGoal": "A",
        "eligAb540": false,
        "email": "student@college.edu",
        "emailVerified": true,
        "emailVerifiedTimestamp": "2017-08-15T17:46:29.142",
        "employmentAssistance": false,
        "enrollStatus": "1",
        "eops": true,
        "esl": false,
        "experience": 3,
        "finAidRef": false,
        "financialAssistance": false,
        "firstname": "Xavier",
        "fosterYouthMis": false,
        "fosterYouthPreference": true,
        "fosterYouthPriority": false,
        "fosterYouthStatus": "0",
        "fosterYouths": false,
        "gender": "M",
        "gradePointAverage": "4.0",
        "healthServices": true,
        "higherCompDate": "2010-01-01",
        "higherEduLevel": "X",
        "highestEduLevel": "00000",
        "highestEnglishCourse": 1,
        "highestEnglishGrade": "A",
        "highestMathCoursePassed": 1,
        "highestMathCourseTaken": 1,
        "highestMathPassedGrade": "B",
        "highestMathTakenGrade": "B",
        "hispanic": false,
        "homeSchooled": false,
        "homelessYouth": true,
        "housingInfo": false,
        "hsAttendance": 3,
        "hsCds": "193098",
        "hsCdsFull": "19643111930981",
        "hsCeeb": "050320 ",
        "hsCity": "Beverly Hills",
        "hsCompDate": "2010-01-01",
        "hsCountry": "US",
        "hsEduLevel": "0",
        "hsName": "High School Name",
        "hsNotAttended": false,
        "hsNotListed": false,
        "hsState": "CA",
        "idmeConfirmationTimestamp": "2017-08-15T17:46:29.142",
        "idmeOptinTimestamp": "2017-08-15T18:46:29.142",
        "idmeWorkflowStatus": "Verified",
        "ipAddressAtAccountCreation": "127.0.0.1",
        "ipAddressAtAppCreation": "127.0.0.1",
        "integrityFg01": true,
        "integrityFg02": true,
        "integrityFg03": false,
        "integrityFg04": false,
        "integrityFg11": false,
        "integrityFg30": false,
        "integrityFg40": true,
        "integrityFg47": false,
        "integrityFg48": false,
        "integrityFg49": false,
        "integrityFg50": false,
        "integrityFg51": false,
        "integrityFg52": false,
        "integrityFg53": false,
        "integrityFg54": false,
        "integrityFg55": false,
        "integrityFg56": false,
        "integrityFg57": false,
        "integrityFg58": false,
        "integrityFg59": false,
        "integrityFg60": false,
        "integrityFg61": false,
        "integrityFg62": false,
        "integrityFg63": false,
        "integrityFg64": false,
        "integrityFg65": false,
        "integrityFg70": false,
        "integrityFg71": false,
        "integrityFg80": false,
        "integrityFlags": "01,02,40",
        "intendedMajor": "ZZ204",
        "ipAddress": "1.2.3.4",
        "lastPage": "last page",
        "lastname": "Smith",
        "mailingAddressValidationOverride": false,
        "mainphone": "530-123-4455",
        "mainphoneAuthText": false,
        "mainphoneExt": "111",
        "mainphoneintl": "mainphoneintl",
        "mainphoneVerified": true,
        "mainphoneVerifiedTimestamp": "2017-08-15T17:46:29.142",
        "majorCategory": "majorCategory",
        "majorCode": "ZZ204",
        "majorDescription": "BA Ancient Art History",
        "majorId": 1745,
        "middlename": "W",
        "militaryCaStationed": false,
        "militaryDischargeDate": "2010-01-01",
        "militaryHomeCountry": "US",
        "militaryHomeState": "CA",
        "militaryLegalResidence": "OR",
        "militaryStationedCaEd": true,
        "militaryStatus": "1",
        "noDocuments": false,
        "noMailingAddressHomeless": false,
        "noPermAddressHomeless": true,
        "nonUsAddress": false,
        "nonusaprovince": "asdf",
        "onlineClasses": true,
        "orientation": "0",
        "otherfirstname": "otherfirstname",
        "otherlastname": "otherlastname",
        "othermiddlename": "othermiddlename",
        "permAddressValidation": "X",
        "permCity": "Oroville",
        "permCountry": "AA",
        "permNonusaprovince": "permNonusaprovince",
        "permPostalcode": "permPostalcode",
        "permState": "XX",
        "permStreetaddress1": "permStreetaddress1",
        "permStreetaddress2": "permStreetaddress2",
        "permZip4": "1234",
        "pgEduMis": "11",
        "pgFirstname": "pgFirstname",
        "pgLastname": "pgLastname",
        "pgRel": "M",
        "pg1Edu": "1",
        "pg2Edu": "1",
        "phoneType": "Landline",
        "postalcode": "85142",
        "preferredFirstname": "Josh",
        "preferredLastname": "Smith",
        "preferredMiddlename": "W",
        "preferredName": true,
        "preferredMethodOfContact": "Email",
        "raceAIANOtherDescription": "Test value for raceAIANOtherDescription",
        "raceEthnic": "NNNNNNNNNNNNNNNNNNNNN",
        "raceGroup": "01,02,03",
        "rdd": "2017-01-25",
        "recommend": 3,
        "reentryProgram": false,
        "resAreaA": 1,
        "resAreaB": 2,
        "resAreaC": 0,
        "resAreaD": 0,
        "resPrevDate": "2001-01-01",
        "resStatus": "2",
        "resStatusChange": false,
        "scholarshipInfo": true,
        "secondphone": "530-222-4444",
        "secondphoneAuthText": true,
        "secondphoneExt": "111",
        "secondphoneintl": "secondphoneintl",
        "fraudScore": 17.003,
        "fraudStatus": 1,
        "ssid": "ssid",
        "ssn": "123-45-6789",
        "ssnDisplay": "6789",
        "ssnException": false,
        "ssnNo": false,
        "ssnType": "0",
        "state": "AZ",
        "status": "D",
        "streetaddress1": "615 E. Monterey st",
        "streetaddress2": "streetaddress2",
        "studentGovernment": true,
        "studentParent": true,
        "studentDepsUnder18": 6,
        "studentDeps18Over": 1,
        "supplementalQuestions": {
            "appId": 9871778944,
            "suppCheck01": true,
            "suppCheck02": true,
            "suppCheck03": true,
            "suppCheck04": true,
            "suppCheck05": true,
            "suppCheck06": true,
            "suppCheck07": true,
            "suppCheck08": true,
            "suppCheck09": true,
            "suppCheck10": true,
            "suppCheck11": false,
            "suppCheck12": false,
            "suppCheck13": false,
            "suppCheck14": false,
            "suppCheck15": false,
            "suppCheck16": false,
            "suppCheck17": false,
            "suppCheck18": false,
            "suppCheck19": false,
            "suppCheck20": false,
            "suppCheck21": true,
            "suppCheck22": true,
            "suppCheck23": true,
            "suppCheck24": true,
            "suppCheck25": true,
            "suppCheck26": true,
            "suppCheck27": true,
            "suppCheck28": true,
            "suppCheck29": true,
            "suppCheck30": true,
            "suppCheck31": false,
            "suppCheck32": false,
            "suppCheck33": false,
            "suppCheck34": false,
            "suppCheck35": false,
            "suppCheck36": false,
            "suppCheck37": false,
            "suppCheck38": false,
            "suppCheck39": false,
            "suppCheck40": false,
            "suppCheck41": false,
            "suppCheck42": false,
            "suppCheck43": false,
            "suppCheck44": false,
            "suppCheck45": false,
            "suppCheck46": false,
            "suppCheck47": false,
            "suppCheck48": false,
            "suppCheck49": false,
            "suppCheck50": false,
            "suppCountry01": "AA",
            "suppCountry02": "AA",
            "suppCountry03": "AA",
            "suppCountry04": "AA",
            "suppCountry05": "AA",
            "suppDate01": "2010-01-01",
            "suppDate02": "2010-01-01",
            "suppDate03": "2010-01-01",
            "suppDate04": "2010-01-01",
            "suppDate05": "2010-01-01",
            "suppMenu01": "menu",
            "suppMenu02": "menu",
            "suppMenu03": "menu",
            "suppMenu04": "menu",
            "suppMenu05": "menu",
            "suppMenu06": "menu",
            "suppMenu07": "menu",
            "suppMenu08": "menu",
            "suppMenu09": "menu",
            "suppMenu10": "menu",
            "suppMenu11": "menu",
            "suppMenu12": "menu",
            "suppMenu13": "menu",
            "suppMenu14": "menu",
            "suppMenu15": "menu",
            "suppMenu16": "menu",
            "suppMenu17": "menu",
            "suppMenu18": "menu",
            "suppMenu19": "menu",
            "suppMenu20": "menu",
            "suppMenu21": "menu",
            "suppMenu22": "menu",
            "suppMenu23": "menu",
            "suppMenu24": "menu",
            "suppMenu25": "menu",
            "suppMenu26": "menu",
            "suppMenu27": "menu",
            "suppMenu28": "menu",
            "suppMenu29": "menu",
            "suppMenu30": "menu",
            "suppPhonenumber01": "(111) 111-1111",
            "suppPhonenumber02": "(111) 111-1111",
            "suppPhonenumber03": "(111) 111-1111",
            "suppPhonenumber04": "(111) 111-1111",
            "suppPhonenumber05": "(111) 111-1111",
            "suppSecret01": "secret",
            "suppSecret02": "secret",
            "suppSecret03": "secret",
            "suppSecret04": "secret",
            "suppSecret05": "secret",
            "suppState01": "CA",
            "suppState02": "CA",
            "suppState03": "CA",
            "suppState04": "CA",
            "suppState05": "CA",
            "suppText01": "text",
            "suppText02": "text",
            "suppText03": "text",
            "suppText04": "text",
            "suppText05": "text",
            "suppText06": "text",
            "suppText07": "text",
            "suppText08": "text",
            "suppText09": "text",
            "suppText10": "text",
            "suppText11": "text",
            "suppText12": "text",
            "suppText13": "text",
            "suppText14": "text",
            "suppText15": "text",
            "suppText16": "text",
            "suppText17": "text",
            "suppText18": "text",
            "suppText19": "text",
            "suppText20": "text",
            "suppYesno01": true,
            "suppYesno02": true,
            "suppYesno03": true,
            "suppYesno04": true,
            "suppYesno05": true,
            "suppYesno06": true,
            "suppYesno07": true,
            "suppYesno08": true,
            "suppYesno09": true,
            "suppYesno10": true,
            "suppYesno11": true,
            "suppYesno12": true,
            "suppYesno13": true,
            "suppYesno14": true,
            "suppYesno15": true,
            "suppYesno16": true,
            "suppYesno17": true,
            "suppYesno18": true,
            "suppYesno19": true,
            "suppYesno20": true,
            "suppYesno21": true,
            "suppYesno22": true,
            "suppYesno23": true,
            "suppYesno24": true,
            "suppYesno25": true,
            "suppYesno26": true,
            "suppYesno27": true,
            "suppYesno28": true,
            "suppYesno29": true,
            "suppYesno30": true
        },
        "suffix": "Jr.",
        "supPageCode": "supPageCode",
        "tanfSsiGa": false,
        "termCode": "ZZ4SP2017-UTSTa",
        "termDescription": "Spring 2017 - CCCTC College B",
        "termEnd": "2017-05-30",
        "termId": 2567,
        "termStart": "2017-01-26",
        "testingAssessment": true,
        "transferInfo": true,
        "transgender": "0",
        "tstmpCreate": "2017-08-15T17:44:48.293",
        "tstmpDownload": "2017-09-11T23:20:49.583494",
        "tstmpSubmit": "2017-08-15T17:46:29.142",
        "tstmpUpdate": "2017-08-15T17:46:29.142",
        "tutoringServices": true,
        "under19Ind": false,
        "veteransServices": true,
        "visaType": "true",
        "zip4": "1234"
    }
]