[  
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
   ## Current year - Fall term 
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward1",
      "cccid":"HASFA1",
      "sisTermId":"${year_current}FA",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}FA",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward2",
      "cccid":"HASFA2",
      "sisTermId":"${year_current}FA",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}FA",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward3",
      "cccid":"HASFA3",
      "sisTermId":"${year_current}FA",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}FA",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward4",
      "cccid":"HASFA4",
      "sisTermId":"${year_current}FA",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}FA",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward5",
      "cccid":"HASFA5",
      "sisTermId":"${year_current}FA",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}FA",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
	{  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward6",
      "cccid":"HASFA6",
      "sisTermId":"${year_current}FA",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}FA",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward7",
      "cccid":"HASFA7",
      "sisTermId":"${year_current}FA",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}FA",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   }  
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
   ## Current year - Spring term 
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ,{  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward1",
      "cccid":"HASFA1",
      "sisTermId":"${year_current}SP",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SP",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward2",
      "cccid":"HASFA2",
      "sisTermId":"${year_current}SP",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SP",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward3",
      "cccid":"HASFA3",
      "sisTermId":"${year_current}SP",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SP",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward4",
      "cccid":"HASFA4",
      "sisTermId":"${year_current}SP",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SP",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward5",
      "cccid":"HASFA5",
      "sisTermId":"${year_current}SP",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SP",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
	{  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward6",
      "cccid":"HASFA6",
      "sisTermId":"${year_current}SP",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SP",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward7",
      "cccid":"HASFA7",
      "sisTermId":"${year_current}SP",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SP",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   }  
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
   ## Current year - Summer term 
   ## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ,{  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward1",
      "cccid":"HASFA1",
      "sisTermId":"${year_current}SU",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SU",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward2",
      "cccid":"HASFA2",
      "sisTermId":"${year_current}SU",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SU",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward3",
      "cccid":"HASFA3",
      "sisTermId":"${year_current}SU",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SU",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward4",
      "cccid":"HASFA4",
      "sisTermId":"${year_current}SU",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SU",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward5",
      "cccid":"HASFA5",
      "sisTermId":"${year_current}SU",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SU",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward6",
      "cccid":"HASFA6",
      "sisTermId":"${year_current}SU",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SU",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward7",
      "cccid":"HASFA7",
      "sisTermId":"${year_current}SU",
      "ceEnrollment":{  
         "misCode":"999",
         "collegeName":"Test College",
         "units":3,
         "c_id":"ENGL 100",
         "section":{  
            "sisSectionId":"1234",
            "sisTermId":"${year_current}SU",
            "sisCourseId":null,
            "instructors":null,
            "maxEnrollments":null,
            "maxWaitlist":null,
            "minimumUnits":null,
            "maximumUnits":null,
            "meetingTimes":null,
            "weeksOfInstruction":null,
            "campus":null,
            "start":null,
            "end":null,
            "preRegistrationStart":null,
            "preRegistrationEnd":null,
            "registrationStart":null,
            "registrationEnd":null,
            "addDeadline":null,
            "dropDeadline":null,
            "withdrawalDeadline":null,
            "feeDeadline":null,
            "censusDate":null,
            "title":"Transfer English",
            "status":null
         }
      }
   }  
]