[
{
    "appId": 16,
    "cccId": "A2019045",
    "collegeId": "001",
    "addressVerified": false,
    "addressValidationOverride": true,
    "addressValidationOverrideTimestamp": "2017-08-15T17:46:29.142",
    "agentPhoneExt": "100",
    "agentPhoneNumber": "+11-9282789622",
    "altNonUsPhoneAuthTxt": false,
    "altNonUsPhoneExt": "100",
    "altNonUsPhoneNumber": "+11-9282777622",
    "appLang": "EN",
    "authorizeAgentInfoRelease": false,
    "birthdate": "1982-12-18",
    "campaign1": "TEST campaign",
    "campaign2": "TEST campaign",
    "campaign3": "TEST campaign",
    "citizenshipStatus": "N",
    "city": "Gloria Town",
    "coenrollConfirm": "1",
    "col1Cds": "1",
    "col1Ceeb": "1",
    "col1City": "1",
    "col1CollegeAttendedId": 11,
    "col1Country": "1",
    "col1DegreeDate": "1982-12-18",
    "col1DegreeObtained": "1",
    "col1EndDate": "1982-12-18",
    "col1ExpelledStatus": false,
    "col1Major": "1",
    "col1Name": "1",
    "col1NonUsProvince": "1",
    "col1NotListed": false,
    "col1PrimaryInstructionLanguage": "1",
    "col1StartDate": "1982-12-18",
    "col1State": "1",
    "col2Cds": "1",
    "col2Ceeb": "1",
    "col2City": "1",
    "col2CollegeAttendedId": 11,
    "col2Country": "1",
    "col2DegreeDate": "1982-12-18",
    "col2DegreeObtained": "1",
    "col2EndDate": "1982-12-18",
    "col2ExpelledStatus": false,
    "col2Major": "1",
    "col2Name": "1",
    "col2NonUsProvince": "1",
    "col2NotListed": false,
    "col2PrimaryInstructionLanguage": "1",
    "col2StartDate": "1982-12-18",
    "col2State": "1",
    "col3Cds": "1",
    "col3Ceeb": "1",
    "col3City": "1",
    "col3CollegeAttendedId": 11,
    "col3Country": "1",
    "col3DegreeDate": "1982-12-18",
    "col3DegreeObtained": "1",
    "col3EndDate": "1982-12-18",
    "col3ExpelledStatus": false,
    "col3Major": "1",
    "col3Name": "1",
    "col3NonUsProvince": "1",
    "col3NotListed": false,
    "col3PrimaryInstructionLanguage": "1",
    "col3StartDate": "1982-12-18",
    "col3State": "1",
    "col4Cds": "1",
    "col4Ceeb": "1",
    "col4City": "1",
    "col4CollegeAttendedId": 11,
    "col4Country": "1",
    "col4DegreeDate": "1982-12-18",
    "col4DegreeObtained": "1",
    "col4EndDate": "1982-12-18",
    "col4ExpelledStatus": false,
    "col4Major": "1",
    "col4Name": "1",
    "col4NonUsProvince": "1",
    "col4NotListed": false,
    "col4PrimaryInstructionLanguage": "1",
    "col4StartDate": "1982-12-18",
    "col4State": "1",
    "collegeCompDate": "1982-12-18",
    "collegeCount": 11,
    "collegeEduLevel": "1",
    "collegeExpelledSummary": false,
    "collegeName": "1",
    "company": "1",
    "confirmation": "1",
    "consent": false,
    "contact": "1",
    "country": "1",
    "countryOfBirth": "1",
    "countryOfCitizenship": "1",
    "cryptokeyid": 11,
    "currentMailingAddressOutsideUs": false,
    "currentMailingAddressVerified": false,
    "currentMailingCity": "1",
    "currentMailingCountry": "1",
    "currentMailingNonUsAddress": false,
    "currentMailingNonUsPostalCode": "1",
    "currentMailingNonUsProvince": "1",
    "currentMailingSameAsPermanent": false,
    "currentMailingState": "1",
    "currentMailingStreet1": "1",
    "currentMailingStreet2": "1",
    "currentMailingZipCode": "1",
    "dep1CountryOfBirth": "1",
    "dep1DateOfBirth": "1982-12-18",
    "dep1DependentId": 11,
    "dep1FirstName": "1",
    "dep1Gender": "1",
    "dep1LastName": "1",
    "dep1NoFirstName": false,
    "dep1Relationship": "1",
    "dep10CountryOfBirth": "1",
    "dep10DateOfBirth": "1982-12-18",
    "dep10DependentId": 11,
    "dep10FirstName": "1",
    "dep10Gender": "1",
    "dep10LastName": "1",
    "dep10NoFirstName": false,
    "dep10Relationship": "1",
    "dep2CountryOfBirth": "1",
    "dep2DateOfBirth": "1982-12-18",
    "dep2DependentId": 11,
    "dep2FirstName": "1",
    "dep2Gender": "1",
    "dep2LastName": "1",
    "dep2NoFirstName": false,
    "dep2Relationship": "1",
    "dep3CountryOfBirth": "1",
    "dep3DateOfBirth": "1982-12-18",
    "dep3DependentId": 11,
    "dep3FirstName": "1",
    "dep3Gender": "1",
    "dep3LastName": "1",
    "dep3NoFirstName": false,
    "dep3Relationship": "1",
    "dep4CountryOfBirth": "1",
    "dep4DateOfBirth": "1982-12-18",
    "dep4DependentId": 11,
    "dep4FirstName": "1",
    "dep4Gender": "1",
    "dep4LastName": "1",
    "dep4NoFirstName": false,
    "dep4Relationship": "1",
    "dep5CountryOfBirth": "1",
    "dep5DateOfBirth": "1982-12-18",
    "dep5DependentId": 11,
    "dep5FirstName": "1",
    "dep5Gender": "1",
    "dep5LastName": "1",
    "dep5NoFirstName": false,
    "dep5Relationship": "1",
    "dep6CountryOfBirth": "1",
    "dep6DateOfBirth": "1982-12-18",
    "dep6DependentId": 11,
    "dep6FirstName": "1",
    "dep6Gender": "1",
    "dep6LastName": "1",
    "dep6NoFirstName": false,
    "dep6Relationship": "1",
    "dep7CountryOfBirth": "1",
    "dep7DateOfBirth": "1982-12-18",
    "dep7DependentId": 11,
    "dep7FirstName": "1",
    "dep7Gender": "1",
    "dep7LastName": "1",
    "dep7NoFirstName": false,
    "dep7Relationship": "1",
    "dep8CountryOfBirth": "1",
    "dep8DateOfBirth": "1982-12-18",
    "dep8DependentId": 11,
    "dep8FirstName": "1",
    "dep8Gender": "1",
    "dep8LastName": "1",
    "dep8NoFirstName": false,
    "dep8Relationship": "1",
    "dep9CountryOfBirth": "1",
    "dep9DateOfBirth": "1982-12-18",
    "dep9DependentId": 11,
    "dep9FirstName": "1",
    "dep9Gender": "1",
    "dep9LastName": "1",
    "dep9NoFirstName": true,
    "dep9Relationship": "1",
    "educationalGoal": "1",
    "email": "1",
    "emailVerified": true,
    "emailVerifiedTimestamp": "2017-08-15T17:46:29.142",
    "emergencyContactAddressVerified": true,
    "emergencyContactCity": "1",
    "emergencyContactCountry": "1",
    "emergencyContactEmail": "1",
    "emergencyContactFirstName": "1",
    "emergencyContactLastName": "1",
    "emergencyContactNoFirstName": true,
    "emergencyContactNonUsAddress": true,
    "emergencyContactNonUsPostalCode": "1",
    "emergencyContactNonUsProvince": "1",
    "emergencyContactPhoneAuthTxt": true,
    "emergencyContactPhoneExt": "1",
    "emergencyContactPhoneNumber": "1",
    "emergencyContactRelationship": "1",
    "emergencyContactState": "1",
    "emergencyContactStreet1": "1",
    "emergencyContactStreet2": "1",
    "emergencyContactZipCode": "1",
    "engMonthsStudied": 11,
    "engProficiencyDate": "1982-12-18",
    "engProficiencyOther": "1",
    "engProficiencyPrerequisite": true,
    "engProficiencyReq": "1",
    "engProficiencyScore": "1",
    "engProficiencyShowScore": true,
    "engProficiencyType": "1",
    "enrollStatus": "1",
    "enrollTermCode": "1",
    "enrollTermDescription": "1",
    "esignature": true,
    "expirationDate": "1982-12-18",
    "faxNumberNumber": "1",
    "firstname": "1",
    "gender": "1",
    "higherLang": "1",
    "highestCompDate": "1982-12-18",
    "highestEduLevel": "1",
    "hispanic": true,
    "hsAddressVerified": true,
    "hsCds": "1",
    "hsCeeb": "1",
    "hsCity": "1",
    "hsCompDate": "1982-12-18",
    "hsCountry": "1",
    "hsDiplomaCert": "1",
    "hsDiplomaCertDate": "1982-12-18",
    "hsEduLevel": "1",
    "hsEndDate": "1982-12-18",
    "hsLang": "1",
    "hsName": "1",
    "hsNonUsAddress": true,
    "hsNonUsPostalCode": "1",
    "hsNonUsProvince": "1",
    "hsNotListed": true,
    "hsStartDate": "1982-12-18",
    "hsState": "1",
    "hsStreet1": "1",
    "hsStreet2": "1",
    "hsType": "1",
    "hsZipCode": "1",
    "i20ExpirationDate": "1982-12-18",
    "i20IssuingSchoolName": "1",
    "i94AdmissionNumber": "1",
    "i94ExpirationDate": "1982-12-18",
    "idmeConfirmationTimestamp": "2023-09-20T17:46:29.142",
    "idmeOptinTimestamp": "2023-09-20T18:46:29.142",
    "idmeWorkflowStatus": "verified",
    "intended4YearMajor": "1",
    "ipAddress": "1",
    "issueDate": "1982-12-18",
    "lastPage": "1",
    "lastname": "1",
    "mainPhoneAuthTxt": true,
    "mainPhoneExt": "1",
    "mainPhoneNumber": "1",
    "mainphoneVerified": true,
    "mainphoneVerifiedTimestamp": "2017-08-15T17:46:29.142",
    "majorCode": "1",
    "majorDescription": "1",
    "middlename": "1",
    "noI94ExpirationDate": true,
    "noVisa": true,
    "nonUsAddress": true,
    "nonUsPermanentHomeAddressSameAsPermanent": true,
    "nonUsPermanentHomeAddressVerified": true,
    "nonUsPermanentHomeCity": "1",
    "nonUsPermanentHomeCountry": "1",
    "nonUsPermanentHomeNonUsAddress": true,
    "nonUsPermanentHomeNonUsPostalCode": "1",
    "nonUsPermanentHomeNonUsProvince": "1",
    "nonUsPermanentHomeStreet1": "1",
    "nonUsPermanentHomeStreet2": "1",
    "nonUsPhoneAuthTxt": true,
    "nonUsPhoneExt": "1",
    "nonUsPhoneNumber": "1",
    "nonUsPostalCode": "1",
    "nonUsProvince": "1",
    "numberOfDependents": 11,
    "numberOfPracticalTraining": 11,
    "otherfirstname": "1",
    "otherlastname": "1",
    "othermiddlename": "1",
    "parentGuardianAddressVerified": true,
    "parentGuardianCity": "1",
    "parentGuardianCountry": "1",
    "parentGuardianEmail": "1",
    "parentGuardianFirstName": "1",
    "parentGuardianLastName": "1",
    "parentGuardianNoFirstName": true,
    "parentGuardianNonUsAddress": true,
    "parentGuardianNonUsPostalCode": "1",
    "parentGuardianNonUsProvince": "1",
    "parentGuardianPhoneAuthTxt": true,
    "parentGuardianPhoneExt": "1",
    "parentGuardianPhoneNumber": "1",
    "parentGuardianRelationship": "1",
    "parentGuardianState": "1",
    "parentGuardianStreet1": "1",
    "parentGuardianStreet2": "1",
    "parentGuardianZipCode": "1",
    "passportCountryOfIssuance": "1",
    "passportExpirationDate": "1982-12-18",
    "passportNotYet": true,
    "passportNumber": "1",
    "permAddrAddressVerified": true,
    "permAddrCity": "1",
    "permAddrCountry": "1",
    "permAddrNonUsAddress": true,
    "permAddrNonUsPostalCode": "1",
    "permAddrNonUsProvince": "1",
    "permAddrState": "1",
    "permAddrStreet1": "1",
    "permAddrStreet2": "1",
    "permAddrZipCode": "1",
    "phoneAuthTxt": true,
    "phoneExt": "1",
    "phoneNumber": "1",
    "preferredFirstname": "1",
    "preferredLastname": "1",
    "preferredMiddlename": "1",
    "preferredName": true,
    "preferredMethodOfContact": "Email",
    "presentlyStudyingInUs": true,
    "primaryLanguage": "1",
    "pt1AuthorizingSchool": "1",
    "pt1EndDate": "1982-12-18",
    "pt1PracticalTrainingId": 11,
    "pt1StartDate": "1982-12-18",
    "pt1Type": "1",
    "pt2AuthorizingSchool": "1",
    "pt2EndDate": "1982-12-18",
    "pt2PracticalTrainingId": 11,
    "pt2StartDate": "1982-12-18",
    "pt2Type": "1",
    "pt3AuthorizingSchool": "1",
    "pt3EndDate": "1982-12-18",
    "pt3PracticalTrainingId": 11,
    "pt3StartDate": "1982-12-18",
    "pt3Type": "1",
    "pt4AuthorizingSchool": "1",
    "pt4EndDate": "1982-12-18",
    "pt4PracticalTrainingId": 11,
    "pt4StartDate": "1982-12-18",
    "pt4Type": "1",
    "raceEthnicity": "1",
    "raceEthnicFull": "1",
    "raceGroup": "1",
    "salt": "1",
    "secondPhoneAuthTxt": true,
    "secondPhoneExt": "1",
    "secondPhoneNumber": "1",
    "sevisIdNumber": "1",
    "signature": "1",
    "ssn": "1",
    "ssnException": true,
    "ssnLast4": "1",
    "ssnType": "1",
    "state": "1",
    "status": "1",
    "street1": "1",
    "street2": "1",
    "suffix": "1",
    "supPageCode": "1",
    "termEndDate": "1982-12-18",
    "termStartDate": "1982-12-18",
    "tstmpCreate": "2019-03-17T16:18:19.718123",
    "tstmpDownload": "2019-03-17T16:18:19.718123",
    "tstmpSubmit": "2019-03-17T16:18:19.718123",
    "tstmpUpdate": "2019-03-17T16:18:19.718123",
    "visaType": "1",
    "zipCode": "3334587-ANZ"
}
]