[  
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoStudent1",
      "firstName":"Person",
      "lastName":"NotStudent1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notstudent1@test.edu"
         }
      ],
      "loginId":"notstudent1",
      "loginSuffix":"test.edu",
      "cccid":"NOSTU1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoStudent2",
      "firstName":"Person",
      "lastName":"NotStudent2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notstudent2@test.edu"
         }
      ],
      "loginId":"notstudent2",
      "loginSuffix":"test.edu",
      "cccid":"NOSTU2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoStudent3",
      "firstName":"Person",
      "lastName":"NotStudent3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notstudent3@test.edu"
         }
      ],
      "loginId":"notstudent3",
      "loginSuffix":"test.edu",
      "cccid":"NOSTU3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoStudent4",
      "firstName":"Person",
      "lastName":"NotStudent4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notstudent4@test.edu"
         }
      ],
      "loginId":"notstudent4",
      "loginSuffix":"test.edu",
      "cccid":"NOSTU4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoStudent5",
      "firstName":"Person",
      "lastName":"NotStudent5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notstudent5@test.edu"
         }
      ],
      "loginId":"notstudent5",
      "loginSuffix":"test.edu",
      "cccid":"NOSTU5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoStudent6",
      "firstName":"Person",
      "lastName":"NotStudent6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notstudent6@test.edu"
         }
      ],
      "loginId":"notstudent6",
      "loginSuffix":"test.edu",
      "cccid":"NOSTU6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoStudent7",
      "firstName":"Person",
      "lastName":"NotStudent7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notstudent7@test.edu"
         }
      ],
      "loginId":"notstudent7",
      "loginSuffix":"test.edu",
      "cccid":"NOSTU7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoEnrollments1",
      "firstName":"Student",
      "lastName":"NoEnrollments1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noenrollments1@test.edu"
         }
      ],
      "loginId":"noenrollments1",
      "loginSuffix":"test.edu",
      "cccid":"NOENRL1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoEnrollments2",
      "firstName":"Student",
      "lastName":"NoEnrollments2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noenrollments2@test.edu"
         }
      ],
      "loginId":"noenrollments2",
      "loginSuffix":"test.edu",
      "cccid":"NOENRL2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoEnrollments3",
      "firstName":"Student",
      "lastName":"NoEnrollments3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noenrollments3@test.edu"
         }
      ],
      "loginId":"noenrollments3",
      "loginSuffix":"test.edu",
      "cccid":"NOENRL3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoEnrollments4",
      "firstName":"Student",
      "lastName":"NoEnrollments4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noenrollments4@test.edu"
         }
      ],
      "loginId":"noenrollments4",
      "loginSuffix":"test.edu",
      "cccid":"NOENRL4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoEnrollments5",
      "firstName":"Student",
      "lastName":"NoEnrollments5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noenrollments5@test.edu"
         }
      ],
      "loginId":"noenrollments5",
      "loginSuffix":"test.edu",
      "cccid":"NOENRL5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoEnrollments6",
      "firstName":"Student",
      "lastName":"NoEnrollments6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noenrollments6@test.edu"
         }
      ],
      "loginId":"noenrollments6",
      "loginSuffix":"test.edu",
      "cccid":"NOENRL6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoEnrollments7",
      "firstName":"Student",
      "lastName":"NoEnrollments7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noenrollments7@test.edu"
         }
      ],
      "loginId":"noenrollments7",
      "loginSuffix":"test.edu",
      "cccid":"NOENRL7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"F1Visa1",
      "firstName":"Student",
      "lastName":"F1Visa1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"f1visa1@test.edu"
         }
      ],
      "loginId":"f1visa1",
      "loginSuffix":"test.edu",
      "cccid":"F1VISA1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"F1Visa2",
      "firstName":"Student",
      "lastName":"F1Visa2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"f1visa2@test.edu"
         }
      ],
      "loginId":"f1visa2",
      "loginSuffix":"test.edu",
      "cccid":"F1VISA2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"F1Visa3",
      "firstName":"Student",
      "lastName":"F1Visa3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"f1visa3@test.edu"
         }
      ],
      "loginId":"f1visa3",
      "loginSuffix":"test.edu",
      "cccid":"F1VISA3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"F1Visa4",
      "firstName":"Student",
      "lastName":"F1Visa4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"f1visa4@test.edu"
         }
      ],
      "loginId":"f1visa4",
      "loginSuffix":"test.edu",
      "cccid":"F1VISA4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"F1Visa5",
      "firstName":"Student",
      "lastName":"F1Visa5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"f1visa5@test.edu"
         }
      ],
      "loginId":"f1visa5",
      "loginSuffix":"test.edu",
      "cccid":"F1VISA5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"F1Visa6",
      "firstName":"Student",
      "lastName":"F1Visa6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"f1visa6@test.edu"
         }
      ],
      "loginId":"f1visa6",
      "loginSuffix":"test.edu",
      "cccid":"F1VISA6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"F1Visa7",
      "firstName":"Student",
      "lastName":"F1Visa7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"f1visa7@test.edu"
         }
      ],
      "loginId":"f1visa7",
      "loginSuffix":"test.edu",
      "cccid":"F1VISA7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HSStudent1",
      "firstName":"Student",
      "lastName":"HSStudent1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hsstudent1@test.edu"
         }
      ],
      "loginId":"hsstudent1",
      "loginSuffix":"test.edu",
      "cccid":"HSSTU1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HSStudent2",
      "firstName":"Student",
      "lastName":"HSStudent2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hsstudent2@test.edu"
         }
      ],
      "loginId":"hsstudent2",
      "loginSuffix":"test.edu",
      "cccid":"HSSTU2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HSStudent3",
      "firstName":"Student",
      "lastName":"HSStudent3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hsstudent3@test.edu"
         }
      ],
      "loginId":"hsstudent3",
      "loginSuffix":"test.edu",
      "cccid":"HSSTU3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HSStudent4",
      "firstName":"Student",
      "lastName":"HSStudent4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hsstudent4@test.edu"
         }
      ],
      "loginId":"hsstudent4",
      "loginSuffix":"test.edu",
      "cccid":"HSSTU4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HSStudent5",
      "firstName":"Student",
      "lastName":"HSStudent5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hsstudent5@test.edu"
         }
      ],
      "loginId":"hsstudent5",
      "loginSuffix":"test.edu",
      "cccid":"HSSTU5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HSStudent6",
      "firstName":"Student",
      "lastName":"HSStudent6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hsstudent6@test.edu"
         }
      ],
      "loginId":"hsstudent6",
      "loginSuffix":"test.edu",
      "cccid":"HSSTU6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HSStudent7",
      "firstName":"Student",
      "lastName":"HSStudent7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hsstudent7@test.edu"
         }
      ],
      "loginId":"hsstudent7",
      "loginSuffix":"test.edu",
      "cccid":"HSSTU7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident1",
      "firstName":"Student",
      "lastName":"Nonresident1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"nonresident1@test.edu"
         }
      ],
      "loginId":"nonresident1",
      "loginSuffix":"test.edu",
      "cccid":"NONRES1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident2",
      "firstName":"Student",
      "lastName":"Nonresident2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"nonresident2@test.edu"
         }
      ],
      "loginId":"nonresident2",
      "loginSuffix":"test.edu",
      "cccid":"NONRES2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident3",
      "firstName":"Student",
      "lastName":"Nonresident3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"nonresident3@test.edu"
         }
      ],
      "loginId":"nonresident3",
      "loginSuffix":"test.edu",
      "cccid":"NONRES3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident4",
      "firstName":"Student",
      "lastName":"Nonresident4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"nonresident4@test.edu"
         }
      ],
      "loginId":"nonresident4",
      "loginSuffix":"test.edu",
      "cccid":"NONRES4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident5",
      "firstName":"Student",
      "lastName":"Nonresident5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"nonresident5@test.edu"
         }
      ],
      "loginId":"nonresident5",
      "loginSuffix":"test.edu",
      "cccid":"NONRES5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident6",
      "firstName":"Student",
      "lastName":"Nonresident6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"nonresident6@test.edu"
         }
      ],
      "loginId":"nonresident6",
      "loginSuffix":"test.edu",
      "cccid":"NONRES6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident7",
      "firstName":"Student",
      "lastName":"Nonresident7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"nonresident7@test.edu"
         }
      ],
      "loginId":"nonresident7",
      "loginSuffix":"test.edu",
      "cccid":"NONRES7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia1",
      "firstName":"Student",
      "lastName":"NotCalifornia1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notcalifornia1@test.edu"
         }
      ],
      "loginId":"notcalifornia1",
      "loginSuffix":"test.edu",
      "cccid":"NOTCA1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia2",
      "firstName":"Student",
      "lastName":"NotCalifornia2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notcalifornia2@test.edu"
         }
      ],
      "loginId":"notcalifornia2",
      "loginSuffix":"test.edu",
      "cccid":"NOTCA2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia3",
      "firstName":"Student",
      "lastName":"NotCalifornia3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notcalifornia3@test.edu"
         }
      ],
      "loginId":"notcalifornia3",
      "loginSuffix":"test.edu",
      "cccid":"NOTCA3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia4",
      "firstName":"Student",
      "lastName":"NotCalifornia4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notcalifornia4@test.edu"
         }
      ],
      "loginId":"notcalifornia4",
      "loginSuffix":"test.edu",
      "cccid":"NOTCA4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia5",
      "firstName":"Student",
      "lastName":"NotCalifornia5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notcalifornia5@test.edu"
         }
      ],
      "loginId":"notcalifornia5",
      "loginSuffix":"test.edu",
      "cccid":"NOTCA5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia6",
      "firstName":"Student",
      "lastName":"NotCalifornia6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notcalifornia6@test.edu"
         }
      ],
      "loginId":"notcalifornia6",
      "loginSuffix":"test.edu",
      "cccid":"NOTCA6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia7",
      "firstName":"Student",
      "lastName":"NotCalifornia7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"notcalifornia7@test.edu"
         }
      ],
      "loginId":"notcalifornia7",
      "loginSuffix":"test.edu",
      "cccid":"NOTCA7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoApplication1",
      "firstName":"Student",
      "lastName":"NoApplication1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noapplication1@test.edu"
         }
      ],
      "loginId":"noapplication1",
      "loginSuffix":"test.edu",
      "cccid":"NOAPP1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoApplication2",
      "firstName":"Student",
      "lastName":"NoApplication2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noapplication2@test.edu"
         }
      ],
      "loginId":"noapplication2",
      "loginSuffix":"test.edu",
      "cccid":"NOAPP2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoApplication3",
      "firstName":"Student",
      "lastName":"NoApplication3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noapplication3@test.edu"
         }
      ],
      "loginId":"noapplication3",
      "loginSuffix":"test.edu",
      "cccid":"NOAPP3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoApplication4",
      "firstName":"Student",
      "lastName":"NoApplication4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noapplication4@test.edu"
         }
      ],
      "loginId":"noapplication4",
      "loginSuffix":"test.edu",
      "cccid":"NOAPP4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoApplication5",
      "firstName":"Student",
      "lastName":"NoApplication5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noapplication5@test.edu"
         }
      ],
      "loginId":"noapplication5",
      "loginSuffix":"test.edu",
      "cccid":"NOAPP5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoApplication6",
      "firstName":"Student",
      "lastName":"NoApplication6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noapplication6@test.edu"
         }
      ],
      "loginId":"noapplication6",
      "loginSuffix":"test.edu",
      "cccid":"NOAPP6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoApplication7",
      "firstName":"Student",
      "lastName":"NoApplication7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noapplication7@test.edu"
         }
      ],
      "loginId":"noapplication7",
      "loginSuffix":"test.edu",
      "cccid":"NOAPP7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"PendingApp1",
      "firstName":"Student",
      "lastName":"PendingApp1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"pendingapp1@test.edu"
         }
      ],
      "loginId":"pendingapp1",
      "loginSuffix":"test.edu",
      "cccid":"PENDAPP1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"PendingApp2",
      "firstName":"Student",
      "lastName":"PendingApp2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"pendingapp2@test.edu"
         }
      ],
      "loginId":"pendingapp2",
      "loginSuffix":"test.edu",
      "cccid":"PENDAPP2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"PendingApp3",
      "firstName":"Student",
      "lastName":"PendingApp3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"pendingapp3@test.edu"
         }
      ],
      "loginId":"pendingapp3",
      "loginSuffix":"test.edu",
      "cccid":"PENDAPP3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"PendingApp4",
      "firstName":"Student",
      "lastName":"PendingApp4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"pendingapp4@test.edu"
         }
      ],
      "loginId":"pendingapp4",
      "loginSuffix":"test.edu",
      "cccid":"PENDAPP4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"PendingApp5",
      "firstName":"Student",
      "lastName":"PendingApp5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"pendingapp5@test.edu"
         }
      ],
      "loginId":"pendingapp5",
      "loginSuffix":"test.edu",
      "cccid":"PENDAPP5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"PendingApp6",
      "firstName":"Student",
      "lastName":"PendingApp6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"pendingapp6@test.edu"
         }
      ],
      "loginId":"pendingapp6",
      "loginSuffix":"test.edu",
      "cccid":"PENDAPP6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"PendingApp7",
      "firstName":"Student",
      "lastName":"PendingApp7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"pendingapp7@test.edu"
         }
      ],
      "loginId":"pendingapp7",
      "loginSuffix":"test.edu",
      "cccid":"PENDAPP7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasHold1",
      "firstName":"Student",
      "lastName":"HasHold1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hashold1@test.edu"
         }
      ],
      "loginId":"hashold1",
      "loginSuffix":"test.edu",
      "cccid":"HASHOLD1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasHold2",
      "firstName":"Student",
      "lastName":"HasHold2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hashold2@test.edu"
         }
      ],
      "loginId":"hashold2",
      "loginSuffix":"test.edu",
      "cccid":"HASHOLD2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasHold3",
      "firstName":"Student",
      "lastName":"HasHold3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hashold3@test.edu"
         }
      ],
      "loginId":"hashold3",
      "loginSuffix":"test.edu",
      "cccid":"HASHOLD3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasHold4",
      "firstName":"Student",
      "lastName":"HasHold4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hashold4@test.edu"
         }
      ],
      "loginId":"hashold4",
      "loginSuffix":"test.edu",
      "cccid":"HASHOLD4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasHold5",
      "firstName":"Student",
      "lastName":"HasHold5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hashold5@test.edu"
         }
      ],
      "loginId":"hashold5",
      "loginSuffix":"test.edu",
      "cccid":"HASHOLD5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasHold6",
      "firstName":"Student",
      "lastName":"HasHold6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hashold6@test.edu"
         }
      ],
      "loginId":"hashold6",
      "loginSuffix":"test.edu",
      "cccid":"HASHOLD6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasHold7",
      "firstName":"Student",
      "lastName":"HasHold7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hashold7@test.edu"
         }
      ],
      "loginId":"hashold7",
      "loginSuffix":"test.edu",
      "cccid":"HASHOLD7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoRegDate1",
      "firstName":"Student",
      "lastName":"NoRegDate1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noregdate1@test.edu"
         }
      ],
      "loginId":"noregdate1",
      "loginSuffix":"test.edu",
      "cccid":"NOREGDT1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoRegDate2",
      "firstName":"Student",
      "lastName":"NoRegDate2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noregdate2@test.edu"
         }
      ],
      "loginId":"noregdate2",
      "loginSuffix":"test.edu",
      "cccid":"NOREGDT2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoRegDate3",
      "firstName":"Student",
      "lastName":"NoRegDate3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noregdate3@test.edu"
         }
      ],
      "loginId":"noregdate3",
      "loginSuffix":"test.edu",
      "cccid":"NOREGDT3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoRegDate4",
      "firstName":"Student",
      "lastName":"NoRegDate4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noregdate4@test.edu"
         }
      ],
      "loginId":"noregdate4",
      "loginSuffix":"test.edu",
      "cccid":"NOREGDT4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoRegDate5",
      "firstName":"Student",
      "lastName":"NoRegDate5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noregdate5@test.edu"
         }
      ],
      "loginId":"noregdate5",
      "loginSuffix":"test.edu",
      "cccid":"NOREGDT5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoRegDate6",
      "firstName":"Student",
      "lastName":"NoRegDate6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noregdate6@test.edu"
         }
      ],
      "loginId":"noregdate6",
      "loginSuffix":"test.edu",
      "cccid":"NOREGDT6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NoRegDate7",
      "firstName":"Student",
      "lastName":"NoRegDate7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"noregdate7@test.edu"
         }
      ],
      "loginId":"noregdate7",
      "loginSuffix":"test.edu",
      "cccid":"NOREGDT7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward1",
      "firstName":"Student",
      "lastName":"HasFAAward1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasfaaward1@test.edu"
         }
      ],
      "loginId":"hasfaaward1",
      "loginSuffix":"test.edu",
      "cccid":"HASFA1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward2",
      "firstName":"Student",
      "lastName":"HasFAAward2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasfaaward2@test.edu"
         }
      ],
      "loginId":"hasfaaward2",
      "loginSuffix":"test.edu",
      "cccid":"HASFA2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward3",
      "firstName":"Student",
      "lastName":"HasFAAward3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasfaaward3@test.edu"
         }
      ],
      "loginId":"hasfaaward3",
      "loginSuffix":"test.edu",
      "cccid":"HASFA3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward4",
      "firstName":"Student",
      "lastName":"HasFAAward4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasfaaward4@test.edu"
         }
      ],
      "loginId":"hasfaaward4",
      "loginSuffix":"test.edu",
      "cccid":"HASFA4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward5",
      "firstName":"Student",
      "lastName":"HasFAAward5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasfaaward5@test.edu"
         }
      ],
      "loginId":"hasfaaward5",
      "loginSuffix":"test.edu",
      "cccid":"HASFA5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward6",
      "firstName":"Student",
      "lastName":"HasFAAward6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasfaaward6@test.edu"
         }
      ],
      "loginId":"hasfaaward6",
      "loginSuffix":"test.edu",
      "cccid":"HASFA6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasFAAward7",
      "firstName":"Student",
      "lastName":"HasFAAward7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasfaaward7@test.edu"
         }
      ],
      "loginId":"hasfaaward7",
      "loginSuffix":"test.edu",
      "cccid":"HASFA7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw1",
      "firstName":"Student",
      "lastName":"HasBogFw1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasbogfw1@test.edu"
         }
      ],
      "loginId":"hasbogfw1",
      "loginSuffix":"test.edu",
      "cccid":"HASBOG1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw2",
      "firstName":"Student",
      "lastName":"HasBogFw2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasbogfw2@test.edu"
         }
      ],
      "loginId":"hasbogfw2",
      "loginSuffix":"test.edu",
      "cccid":"HASBOG2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw3",
      "firstName":"Student",
      "lastName":"HasBogFw3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasbogfw3@test.edu"
         }
      ],
      "loginId":"hasbogfw3",
      "loginSuffix":"test.edu",
      "cccid":"HASBOG3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw4",
      "firstName":"Student",
      "lastName":"HasBogFw4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasbogfw4@test.edu"
         }
      ],
      "loginId":"hasbogfw4",
      "loginSuffix":"test.edu",
      "cccid":"HASBOG4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw5",
      "firstName":"Student",
      "lastName":"HasBogFw5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasbogfw5@test.edu"
         }
      ],
      "loginId":"hasbogfw5",
      "loginSuffix":"test.edu",
      "cccid":"HASBOG5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw6",
      "firstName":"Student",
      "lastName":"HasBogFw6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasbogfw6@test.edu"
         }
      ],
      "loginId":"hasbogfw6",
      "loginSuffix":"test.edu",
      "cccid":"HASBOG6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasBogFw7",
      "firstName":"Student",
      "lastName":"HasBogFw7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasbogfw7@test.edu"
         }
      ],
      "loginId":"hasbogfw7",
      "loginSuffix":"test.edu",
      "cccid":"HASBOG7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasAcctBalance1",
      "firstName":"Student",
      "lastName":"HasAcctBalance1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasacctbalance1@test.edu"
         }
      ],
      "loginId":"hasacctbalance1",
      "loginSuffix":"test.edu",
      "cccid":"ACCTBAL1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasAcctBalance2",
      "firstName":"Student",
      "lastName":"HasAcctBalance2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasacctbalance2@test.edu"
         }
      ],
      "loginId":"hasacctbalance2",
      "loginSuffix":"test.edu",
      "cccid":"ACCTBAL2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasAcctBalance3",
      "firstName":"Student",
      "lastName":"HasAcctBalance3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasacctbalance3@test.edu"
         }
      ],
      "loginId":"hasacctbalance3",
      "loginSuffix":"test.edu",
      "cccid":"ACCTBAL3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasAcctBalance4",
      "firstName":"Student",
      "lastName":"HasAcctBalance4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasacctbalance4@test.edu"
         }
      ],
      "loginId":"hasacctbalance4",
      "loginSuffix":"test.edu",
      "cccid":"ACCTBAL4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasAcctBalance5",
      "firstName":"Student",
      "lastName":"HasAcctBalance5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasacctbalance5@test.edu"
         }
      ],
      "loginId":"hasacctbalance5",
      "loginSuffix":"test.edu",
      "cccid":"ACCTBAL5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasAcctBalance6",
      "firstName":"Student",
      "lastName":"HasAcctBalance6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasacctbalance6@test.edu"
         }
      ],
      "loginId":"hasacctbalance6",
      "loginSuffix":"test.edu",
      "cccid":"ACCTBAL6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"HasAcctBalance7",
      "firstName":"Student",
      "lastName":"HasAcctBalance7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"hasacctbalance7@test.edu"
         }
      ],
      "loginId":"hasacctbalance7",
      "loginSuffix":"test.edu",
      "cccid":"ACCTBAL7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"DSPSEligible1",
      "firstName":"Student",
      "lastName":"DSPSEligible1",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"dspseligible1@test.edu"
         }
      ],
      "loginId":"dspseligible1",
      "loginSuffix":"test.edu",
      "cccid":"DSPS1"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"DSPSEligible2",
      "firstName":"Student",
      "lastName":"DSPSEligible2",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"dspseligible2@test.edu"
         }
      ],
      "loginId":"dspseligible2",
      "loginSuffix":"test.edu",
      "cccid":"DSPS2"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"DSPSEligible3",
      "firstName":"Student",
      "lastName":"DSPSEligible3",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"dspseligible3@test.edu"
         }
      ],
      "loginId":"dspseligible3",
      "loginSuffix":"test.edu",
      "cccid":"DSPS3"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"DSPSEligible4",
      "firstName":"Student",
      "lastName":"DSPSEligible4",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"dspseligible4@test.edu"
         }
      ],
      "loginId":"dspseligible4",
      "loginSuffix":"test.edu",
      "cccid":"DSPS4"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"DSPSEligible5",
      "firstName":"Student",
      "lastName":"DSPSEligible5",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"dspseligible5@test.edu"
         }
      ],
      "loginId":"dspseligible5",
      "loginSuffix":"test.edu",
      "cccid":"DSPS5"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"DSPSEligible6",
      "firstName":"Student",
      "lastName":"DSPSEligible6",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"dspseligible6@test.edu"
         }
      ],
      "loginId":"dspseligible6",
      "loginSuffix":"test.edu",
      "cccid":"DSPS6"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"DSPSEligible7",
      "firstName":"Student",
      "lastName":"DSPSEligible7",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"dspseligible7@test.edu"
         }
      ],
      "loginId":"dspseligible7",
      "loginSuffix":"test.edu",
      "cccid":"DSPS7"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0011",
      "firstName":"Student",
      "lastName":"Test0011",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0011@test.edu"
         }
      ],
      "loginId":"test0011",
      "loginSuffix":"test.edu",
      "cccid":"STU0011"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0012",
      "firstName":"Student",
      "lastName":"Test0012",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0012@test.edu"
         }
      ],
      "loginId":"test0012",
      "loginSuffix":"test.edu",
      "cccid":"STU0012"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0013",
      "firstName":"Student",
      "lastName":"Test0013",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0013@test.edu"
         }
      ],
      "loginId":"test0013",
      "loginSuffix":"test.edu",
      "cccid":"STU0013"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0014",
      "firstName":"Student",
      "lastName":"Test0014",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0014@test.edu"
         }
      ],
      "loginId":"test0014",
      "loginSuffix":"test.edu",
      "cccid":"STU0014"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0015",
      "firstName":"Student",
      "lastName":"Test0015",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0015@test.edu"
         }
      ],
      "loginId":"test0015",
      "loginSuffix":"test.edu",
      "cccid":"STU0015"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0016",
      "firstName":"Student",
      "lastName":"Test0016",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0016@test.edu"
         }
      ],
      "loginId":"test0016",
      "loginSuffix":"test.edu",
      "cccid":"STU0016"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0017",
      "firstName":"Student",
      "lastName":"Test0017",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0017@test.edu"
         }
      ],
      "loginId":"test0017",
      "loginSuffix":"test.edu",
      "cccid":"STU0017"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0021",
      "firstName":"Student",
      "lastName":"Test0021",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0021@test.edu"
         }
      ],
      "loginId":"test0021",
      "loginSuffix":"test.edu",
      "cccid":"STU0021"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0022",
      "firstName":"Student",
      "lastName":"Test0022",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0022@test.edu"
         }
      ],
      "loginId":"test0022",
      "loginSuffix":"test.edu",
      "cccid":"STU0022"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0023",
      "firstName":"Student",
      "lastName":"Test0023",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0023@test.edu"
         }
      ],
      "loginId":"test0023",
      "loginSuffix":"test.edu",
      "cccid":"STU0023"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0024",
      "firstName":"Student",
      "lastName":"Test0024",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0024@test.edu"
         }
      ],
      "loginId":"test0024",
      "loginSuffix":"test.edu",
      "cccid":"STU0024"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0025",
      "firstName":"Student",
      "lastName":"Test0025",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0025@test.edu"
         }
      ],
      "loginId":"test0025",
      "loginSuffix":"test.edu",
      "cccid":"STU0025"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0026",
      "firstName":"Student",
      "lastName":"Test0026",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0026@test.edu"
         }
      ],
      "loginId":"test0026",
      "loginSuffix":"test.edu",
      "cccid":"STU0026"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0027",
      "firstName":"Student",
      "lastName":"Test0027",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0027@test.edu"
         }
      ],
      "loginId":"test0027",
      "loginSuffix":"test.edu",
      "cccid":"STU0027"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0031",
      "firstName":"Student",
      "lastName":"Test0031",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0031@test.edu"
         }
      ],
      "loginId":"test0031",
      "loginSuffix":"test.edu",
      "cccid":"STU0031"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0032",
      "firstName":"Student",
      "lastName":"Test0032",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0032@test.edu"
         }
      ],
      "loginId":"test0032",
      "loginSuffix":"test.edu",
      "cccid":"STU0032"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0033",
      "firstName":"Student",
      "lastName":"Test0033",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0033@test.edu"
         }
      ],
      "loginId":"test0033",
      "loginSuffix":"test.edu",
      "cccid":"STU0033"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0034",
      "firstName":"Student",
      "lastName":"Test0034",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0034@test.edu"
         }
      ],
      "loginId":"test0034",
      "loginSuffix":"test.edu",
      "cccid":"STU0034"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0035",
      "firstName":"Student",
      "lastName":"Test0035",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0035@test.edu"
         }
      ],
      "loginId":"test0035",
      "loginSuffix":"test.edu",
      "cccid":"STU0035"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0036",
      "firstName":"Student",
      "lastName":"Test0036",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0036@test.edu"
         }
      ],
      "loginId":"test0036",
      "loginSuffix":"test.edu",
      "cccid":"STU0036"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0037",
      "firstName":"Student",
      "lastName":"Test0037",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0037@test.edu"
         }
      ],
      "loginId":"test0037",
      "loginSuffix":"test.edu",
      "cccid":"STU0037"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0041",
      "firstName":"Student",
      "lastName":"Test0041",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0041@test.edu"
         }
      ],
      "loginId":"test0041",
      "loginSuffix":"test.edu",
      "cccid":"STU0041"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0042",
      "firstName":"Student",
      "lastName":"Test0042",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0042@test.edu"
         }
      ],
      "loginId":"test0042",
      "loginSuffix":"test.edu",
      "cccid":"STU0042"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0043",
      "firstName":"Student",
      "lastName":"Test0043",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0043@test.edu"
         }
      ],
      "loginId":"test0043",
      "loginSuffix":"test.edu",
      "cccid":"STU0043"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0044",
      "firstName":"Student",
      "lastName":"Test0044",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0044@test.edu"
         }
      ],
      "loginId":"test0044",
      "loginSuffix":"test.edu",
      "cccid":"STU0044"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0045",
      "firstName":"Student",
      "lastName":"Test0045",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0045@test.edu"
         }
      ],
      "loginId":"test0045",
      "loginSuffix":"test.edu",
      "cccid":"STU0045"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0046",
      "firstName":"Student",
      "lastName":"Test0046",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0046@test.edu"
         }
      ],
      "loginId":"test0046",
      "loginSuffix":"test.edu",
      "cccid":"STU0046"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0047",
      "firstName":"Student",
      "lastName":"Test0047",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0047@test.edu"
         }
      ],
      "loginId":"test0047",
      "loginSuffix":"test.edu",
      "cccid":"STU0047"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0051",
      "firstName":"Student",
      "lastName":"Test0051",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0051@test.edu"
         }
      ],
      "loginId":"test0051",
      "loginSuffix":"test.edu",
      "cccid":"STU0051"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0052",
      "firstName":"Student",
      "lastName":"Test0052",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0052@test.edu"
         }
      ],
      "loginId":"test0052",
      "loginSuffix":"test.edu",
      "cccid":"STU0052"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0053",
      "firstName":"Student",
      "lastName":"Test0053",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0053@test.edu"
         }
      ],
      "loginId":"test0053",
      "loginSuffix":"test.edu",
      "cccid":"STU0053"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0054",
      "firstName":"Student",
      "lastName":"Test0054",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0054@test.edu"
         }
      ],
      "loginId":"test0054",
      "loginSuffix":"test.edu",
      "cccid":"STU0054"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0055",
      "firstName":"Student",
      "lastName":"Test0055",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0055@test.edu"
         }
      ],
      "loginId":"test0055",
      "loginSuffix":"test.edu",
      "cccid":"STU0055"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0056",
      "firstName":"Student",
      "lastName":"Test0056",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0056@test.edu"
         }
      ],
      "loginId":"test0056",
      "loginSuffix":"test.edu",
      "cccid":"STU0056"
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"stu0057",
      "firstName":"Student",
      "lastName":"Test0057",
      "emailAddresses":[  
         {  
            "type":"Institution",
            "emailAddress":"test0057@test.edu"
         }
      ],
      "loginId":"test0057",
      "loginSuffix":"test.edu",
      "cccid":"STU0057"
   },
      {
         "misCode":"${misCode}",
         "sisPersonId":"AAX8846",
         "firstName":"Student",
         "lastName":"Test0057",
         "emailAddresses":[
            {
               "type":"Institution",
               "emailAddress":"test0057@test.edu"
            }
         ],
         "loginId":"test0057",
         "loginSuffix":"test.edu",
         "cccid":"AAX8846"
      },
         {
         "misCode":"${misCode}",
         "sisPersonId":"AAX8847",
         "firstName":"Student",
         "lastName":"Test0057",
         "emailAddresses":[
            {
               "type":"Institution",
               "emailAddress":"test0057@test.edu"
            }
         ],
         "loginId":"test0057",
         "loginSuffix":"test.edu",
         "cccid":"AAX8847"
      },
         {
         "misCode":"${misCode}",
         "sisPersonId":"AAX8848",
         "firstName":"Student",
         "lastName":"Test0057",
         "emailAddresses":[
            {
               "type":"Institution",
               "emailAddress":"test0057@test.edu"
            }
         ],
         "loginId":"test0057",
         "loginSuffix":"test.edu",
         "cccid":"AAX8848"
      },
         {
         "misCode":"${misCode}",
         "sisPersonId":"AAX8849",
         "firstName":"Student",
         "lastName":"Test0057",
         "emailAddresses":[
            {
               "type":"Institution",
               "emailAddress":"test0057@test.edu"
            }
         ],
         "loginId":"test0057",
         "loginSuffix":"test.edu",
         "cccid":"AAX8849"
      },
         {
         "misCode":"${misCode}",
         "sisPersonId":"AAX8850",
         "firstName":"Student",
         "lastName":"Test0057",
         "emailAddresses":[
            {
               "type":"Institution",
               "emailAddress":"test0057@test.edu"
            }
         ],
         "loginId":"test0057",
         "loginSuffix":"test.edu",
         "cccid":"AAX8850"
      },
         {
         "misCode":"${misCode}",
         "sisPersonId":"AAX8851",
         "firstName":"Student",
         "lastName":"Test0057",
         "emailAddresses":[
            {
               "type":"Institution",
               "emailAddress":"test0057@test.edu"
            }
         ],
         "loginId":"test0057",
         "loginSuffix":"test.edu",
         "cccid":"AAX8851"
      },
         {
         "misCode":"${misCode}",
         "sisPersonId":"AAA5364",
         "firstName":"Student",
         "lastName":"Test0057",
         "emailAddresses":[
            {
               "type":"Institution",
               "emailAddress":"test0057@test.edu"
            }
         ],
         "loginId":"test0057",
         "loginSuffix":"test.edu",
         "cccid":"AAA5364"
      },
         {
         "misCode":"${misCode}",
         "sisPersonId":"AAA5366",
         "firstName":"Student",
         "lastName":"Test0057",
         "emailAddresses":[
            {
               "type":"Institution",
               "emailAddress":"test0057@test.edu"
            }
         ],
         "loginId":"test0057",
         "loginSuffix":"test.edu",
         "cccid":"AAA5366"
      },
         {
         "misCode":"${misCode}",
         "sisPersonId":"AAA5375",
         "firstName":"Student",
         "lastName":"Test0057",
         "emailAddresses":[
            {
               "type":"Institution",
               "emailAddress":"test0057@test.edu"
            }
         ],
         "loginId":"test0057",
         "loginSuffix":"test.edu",
         "cccid":"AAA5375"
      },
         {
               "misCode":"${misCode}",
               "sisPersonId":"ABN5663",
               "firstName":"Student",
               "lastName":"Test0057",
               "emailAddresses":[
                  {
                     "type":"Institution",
                     "emailAddress":"test0057@test.edu"
                  }
               ],
               "loginId":"test0057",
               "loginSuffix":"test.edu",
               "cccid":"ABN5663"
       },
         {
               "misCode":"${misCode}",
               "sisPersonId":"ABN5664",
               "firstName":"Student",
               "lastName":"Test0057",
               "emailAddresses":[
                  {
                     "type":"Institution",
                     "emailAddress":"test0057@test.edu"
                  }
               ],
               "loginId":"test0057",
               "loginSuffix":"test.edu",
               "cccid":"ABN5664"
       },
         {
               "misCode":"${misCode}",
               "sisPersonId":"ABN5665",
               "firstName":"Student",
               "lastName":"Test0057",
               "emailAddresses":[
                  {
                     "type":"Institution",
                     "emailAddress":"test0057@test.edu"
                  }
               ],
               "loginId":"test0057",
               "loginSuffix":"test.edu",
               "cccid":"ABN5665"
       },
         {
               "misCode":"${misCode}",
               "sisPersonId":"ABN5666",
               "firstName":"Student",
               "lastName":"Test0057",
               "emailAddresses":[
                  {
                     "type":"Institution",
                     "emailAddress":"test0057@test.edu"
                  }
               ],
               "loginId":"test0057",
               "loginSuffix":"test.edu",
               "cccid":"ABN5666"
       },
         {
               "misCode":"${misCode}",
               "sisPersonId":"ABN5667",
               "firstName":"Student",
               "lastName":"Test0057",
               "emailAddresses":[
                  {
                     "type":"Institution",
                     "emailAddress":"test0057@test.edu"
                  }
               ],
               "loginId":"test0057",
               "loginSuffix":"test.edu",
               "cccid":"ABN5667"
       },
         {
               "misCode":"${misCode}",
               "sisPersonId":"ABN5668",
               "firstName":"Student",
               "lastName":"Test0057",
               "emailAddresses":[
                  {
                     "type":"Institution",
                     "emailAddress":"test0057@test.edu"
                  }
               ],
               "loginId":"test0057",
               "loginSuffix":"test.edu",
               "cccid":"ABN5668"
       }
]