[  
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident1",
      "cccid":"NONRES1",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident2",
      "cccid":"NONRES2",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident3",
      "cccid":"NONRES3",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident4",
      "cccid":"NONRES4",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident5",
      "cccid":"NONRES5",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident6",
      "cccid":"NONRES6",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident7",
      "cccid":"NONRES7",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia1",
      "cccid":"NOTCA1",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia2",
      "cccid":"NOTCA2",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia3",
      "cccid":"NOTCA3",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia4",
      "cccid":"NOTCA4",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia5",
      "cccid":"NOTCA5",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia6",
      "cccid":"NOTCA6",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia7",
      "cccid":"NOTCA7",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_fall_end.getTimeInMillis(),
      "started":$year_current_term_fall_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident1",
      "cccid":"NONRES1",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident2",
      "cccid":"NONRES2",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident3",
      "cccid":"NONRES3",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident4",
      "cccid":"NONRES4",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident5",
      "cccid":"NONRES5",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident6",
      "cccid":"NONRES6",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident7",
      "cccid":"NONRES7",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia1",
      "cccid":"NOTCA1",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia2",
      "cccid":"NOTCA2",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia3",
      "cccid":"NOTCA3",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia4",
      "cccid":"NOTCA4",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia5",
      "cccid":"NOTCA5",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia6",
      "cccid":"NOTCA6",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia7",
      "cccid":"NOTCA7",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_spring_end.getTimeInMillis(),
      "started":$year_current_term_spring_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident1",
      "cccid":"NONRES1",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident2",
      "cccid":"NONRES2",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident3",
      "cccid":"NONRES3",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident4",
      "cccid":"NONRES4",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident5",
      "cccid":"NONRES5",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident6",
      "cccid":"NONRES6",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"Nonresident7",
      "cccid":"NONRES7",
      "sisCourseId":"1ECON-201",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia1",
      "cccid":"NOTCA1",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia2",
      "cccid":"NOTCA2",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia3",
      "cccid":"NOTCA3",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia4",
      "cccid":"NOTCA4",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia5",
      "cccid":"NOTCA5",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia6",
      "cccid":"NOTCA6",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   },
   {  
      "misCode":"${misCode}",
      "sisPersonId":"NotCalifornia7",
      "cccid":"NOTCA7",
      "sisCourseId":"1ECON-202",
      "complete":true,
      "completed":$year_current_term_summer_end.getTimeInMillis(),
      "started":$year_current_term_summer_start.getTimeInMillis()
   }
]